Repository bellshade/Python, pull requests merged in 2021-10, with the labels that each got.

#37 add: Operasi Penugasan
  Basic/operator/README.md
  Basic/operator/operator_penugasan.py
Labels: enhancement, basic

#40 Operator perbandingan
  Basic/operator/README.md
  Basic/operator/operator_perbandingan.py
Labels: automerge, enhancement, basic

#41 Update Basic README
  Basic/README.md
Labels: automerge, documentation, basic

#43 Operator logika
  Basic/operator/README.md
  Basic/operator/operator_logika.py
Labels: automerge, enhancement, basic

#46 Adding Basic: Class
  Basic/class/README.md
  Basic/class/class.py
  Basic/class/const_desct.py
  Basic/class/methods.py
  README.md
Labels: automerge, enhancement, basic

#51 docs: Menambahkan tipe data set and frozenset
  Basic/tipe_data/README.md
Labels: automerge, enhancement, basic

#128 add : sigmoid
  DIRECTORY.md
  math/sigmoid.py
Labels: ready-to-merge, python files, request tim python untuk review, markdown files, request docs team untuk review

#130 feat: tambah script untuk menghitung pangkat
  DIRECTORY.md
  other/power_dac.py
Labels: ready-to-merge, enhancement, python files, request tim python untuk review, markdown files, request docs team untuk review

#131 add: standard library math
  Basic/README.md
  Basic/python_math/README.md
  Basic/python_math/math_eksponen_logaritma.py
  Basic/python_math/math_konstanta.py
  Basic/python_math/math_konversi_sudut.py
  Basic/python_math/math_pembulatan.py
  Basic/python_math/math_trigonometri.py
  DIRECTORY.md
Labels: ready-to-merge, add, python files, request tim python untuk review, markdown files, request docs team untuk review

#132 feat: tambah algoritma digit sum
  DIRECTORY.md
  math/digit_sum.py
Labels: ready-to-merge, enhancement, python files, request tim python untuk review, markdown files, request docs team untuk review
